* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header { 
	padding: 30px 0;
    background: rgba(18, 24, 41, 0.8);
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}


header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo {
	font-size: 40px;
}

header nav a {
	color: #AAA;
	text-decoration: none;
	margin-right: 20px;
}

header nav a:hover {
	color: #FFF;
}

/* ---- ----- ----- section ----- ----- ----- */

section {
	background-color: rgba(18, 24, 41, 0.9);	
}

section h1 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 80px;
	color: #EBEEF5;
}

section h2 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #8E95A9;
	margin-top: 20px;
	margin-bottom: 20px;
}

section form {
	width: 344px;
	height: 64px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 12px 16px;
	gap: 16px;
	background: rgba(0, 0, 0, 0.1);
	border: 1px solid #323B54;
	border-radius: 12px;
}

section button {
	color: aliceblue;
	background: rgba(136, 0, 199, 0.925);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	margin-right: 1.25em;
	margin-top: 1.15em;
	margin-bottom: 1.10em;
	font-size: 1.12em;
	width: 166px;
	height: 56px;
} 

section button:hover {
	background-color: darkslategray;
}

.botonTab {
	background-color: #8900d8;
}

/* ---- ----- ----- cards ----- ----- ----- */

.wrapperCards .container {

	Display: Flex;
	Gap: 16px;
	flex-wrap: wrap;
	align-items: flex-start;
	}


.card {
	background-color: #323B54;
}

.contenido {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #FFF;
}





