<section>
    <div class="container">
        <div class="hero">
            <h1>PelisUP!</h1>
            <h2>Plataforma para ver peliculas y series 😁</h2>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder=" 🔍Buscar serie o película" aria-label="Search">
            </form>
            <button type="button" class="btn btn-lg botonTab">Todos</button>
            <button type="button" class="btn btn-lg botonTab">Películas</button>
            <button type="button" class="btn btn-lg botonTab">Series</button>
        </div>
    </div>
</section>

<app-cards></app-cards>