<section class="wrapperCards">
    <div class="container">
        <div class="card">
            <figure>
                <img src=".\assets\1-black-widow.svg">
            </figure>
            <div class="contenido">
                <h3>Black widow</h3>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src=".\assets\2-shang-chi.svg">
            </figure>
            <div class="contenido">
                <h3>Shang-chi</h3>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src=".\assets\3-loki.svg">
            </figure>
            <div class="contenido">
                <h3>Loki</h3>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src=".\assets\4-how-i-met-your-mother.svg">
            </figure>
            <div class="contenido">
                <h3>How I met your mother</h3>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src=".\assets\5-money-heist.svg">
            </figure>
            <div class="contenido">
                <h3>Money heist</h3>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src=".\assets\6-friends.svg">
            </figure>
            <div class="contenido">
                <h3>Friends</h3>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src=".\assets\7-the-big-bang-theory.svg">
            </figure>
            <div class="contenido">
                <h3>The big bang theory</h3>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src=".\assets\8-two-and-a-half-men.svg">
            </figure>
            <div class="contenido">
                <h3>Two and a half men</h3>
            </div>
        </div>
    </div>
</section>
